<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Optimal Strategy Game</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/script.js"></script>
</head>
<body>
    <div id="content">
        <h1>Optimal Strategy Game</h1>
        <div class="buttons">
            <button class="btn" onclick="startGame(1)">Play as Player 1</button>
            <button class="btn" onclick="startGame(2)">Play as Player 2</button>
        </div>

        <div class="container" id="box-container"></div>
        <div id="result"></div>
        <div id="confetti-container"></div>
    </div>
    <div id="explain">
        <div id="etitle">
            Explanation
            <button id="etitlebtn" onclick="toggleExplanation()">✗</button>
        </div>
        <div id="explainc">
        </div>
    </div>
</body>
</html>
